<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.noblecloud.axeldownload</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>48E57987-16EA-4210-91A4-5999A9691C1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>683C6D0D-4D31-48F2-B327-BC66D9C394C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72C4865C-A6DC-4564-A395-32126659C006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E57987-16EA-4210-91A4-5999A9691C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DFB25FAD-BFFD-44F8-A62A-9FDEA82B734D</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>noblecloud</string>
	<key>description</key>
	<string>Download a url with concurrent connections.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Accelerated Download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Download {query} has downloaded</string>
				<key>title</key>
				<string>Axel</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>683C6D0D-4D31-48F2-B327-BC66D9C394C8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>axel</string>
				<key>text</key>
				<string>Download with Axel</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72C4865C-A6DC-4564-A395-32126659C006</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>url=$(curl $1 -s -L -I -o /dev/null -w '%{url_effective}' {query})

./axel/bin/axel -a -v $url

echo $url</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48E57987-16EA-4210-91A4-5999A9691C1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00015A56-DDED-4574-BB39-3931B7AA2678</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>axel default</string>
				<key>subtext</key>
				<string>Set default download location.</string>
				<key>text</key>
				<string>Download Location</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFB25FAD-BFFD-44F8-A62A-9FDEA82B734D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00015A56-DDED-4574-BB39-3931B7AA2678</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>48E57987-16EA-4210-91A4-5999A9691C1E</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>683C6D0D-4D31-48F2-B327-BC66D9C394C8</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>72C4865C-A6DC-4564-A395-32126659C006</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>DFB25FAD-BFFD-44F8-A62A-9FDEA82B734D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
